html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike,strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {
  margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;}body { background-color: #f1f3f7 !important;	line-height: 1;}ol, ul {	list-style: none;}blockquote, q {	quotes: none;}blockquote:before, blockquote:after,q:before, q:after {	content: '';	content: none;}table {	border-collapse: collapse;	border-spacing: 0;}

body{
  font-family: 'Poppins', sans-serif !important; 
}
.poppins{
  font-family: 'Poppins', sans-serif !important;
}
.teko{
  font-family: 'Teko', sans-serif;
}
.p-70{
  padding: 70px;
}
h1{
  font-size: 85px;
}
h2{
  font-size: 40px;
}
h3{
  font-size: 24px !important;
}
h4{
  font-size: 20px !important;
}
h5{
  font-size: 60px;
}
h6{
  font-size: 25px;
}
p{
  font-size: 16px !important;
}
.p_lg{
  font-size: 16px !important;
}
.p_md{
  font-size: 15px !important;
}
.p_sm{
  font-size: 14px !important;
}
.bold{
  font-weight: 700;
}
.medium{
  font-weight: 500;
}
.d-pur{
  color: #080914;
}
.pur-bck{
  background-color: #050615 !important;
}
.blue_line{
  background-color: #00adef !important;
  width: 75px !important;
  padding: 1px;
  margin-left: 0 !important;
}
.d-blue{
  color: #101f2e !important;
}
.clr_blue{
  color: #4485c6 !important;
}
.clr_cyan{
  color: #1f9bde !important;
}
.black{
  color: black !important;
}
.black_bck{
  background-color: #222222 !important;
}
.clr_grey{
  color: #666666 !important;
}
.d-grey{
  color: #333333 !important;
}
.admin-login a i{
  color: #666666 !important;
}
.l-grey{
  color: #999999 !important;
}
.green{
  color: #03ad1b !important;
}
.clr-orange{
  color: #f7941d !important;
}
.bck-orange{
  background-color: #f7941d !important;
}
.reviews-card{
  background-color: #eeeeee !important;
}
.reviews-card img, .review-img{
  border: 3px solid #f7941d;
  border-radius: 100%;
}
.product-img{
  width: 125px !important;
  height: 125px !important;
  position: relative;
}
.product-img img{
  width: 125px !important;
  height: 125px !important;
}
.product-img i{
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
}
/* admin login starts here */
.admin-login{
  background-image: url('../images/bg.jpg.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.admin-login-inner{
  background-color: rgba(0,0,0,.75);
  height: 100vh;
}
.admin-login i{
  color: #f7941d !important;
}
.admin-login .md-form .input-prefix.active {
  color: #f7941d !important;
}
.admin-login-card{
  border-radius: 0px !important;
  background-color: white !important;
  box-shadow: 0 4px 35px rgba(0,0,0,.12);
  margin: auto;
  text-align: center;
}
.w-80{
  width: 80% !important;
  margin: auto;
}
.user-subs .admin-login-card{
  width: 50% !important;
}
.admin-profile .modal-content i{
  font-size: 14px !important;
  color: #a1a0a0 !important;
}
.admin-profile .modal-content, .user-subs .modal-content, .user-management .modal-content{
  border-radius: 5px !important;
  box-shadow: none !important;
}
.uppercase{
  text-transform: uppercase !important;
}
nav a{
  color: #ffffff !important;
}
nav a i::before{
  color: #f7941d !important;
}
nav .dropdown-menu a{
  color: #222222 !important;
}
nav a i{
  color: #333333 !important;
}
a{
  font-size: 16px !important;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
.admin-login h1 span{
  color: #ce1126 !important;
}
.red{
  color: #ce1126 !important;
}
.lh{
  line-height: 1.5;
}
.admin-login input{
  border-radius: 0px !important;
  background-color: white !important;
  border: 1px solid #e5e5e5 !important;
}
.admin-login input:focus{
  border: none !important;
  outline: none !important;
  box-shadow: 0 !important;
}
.hide-pass{
  position: absolute;
  bottom: 11px;
  right: 20px;
  cursor: pointer;
}
.position-relative .hide-pass{
  bottom: 15px;
}
.custom-check{
  height: 15px !important;
  width: 15px !important;
}
th{
  font-weight: 600;
}
a button{
  padding: 22px 0;
  background-color: #f7941d !important;
  color: white !important;
  border: 1px solid #f7941d !important;
  box-shadow: 0px 0px 35px 0px rgba(0,0,0,.2);
  cursor: pointer;
  font-weight: 500;
  transition: ease-in-out .2s;
}
a button:hover{
  background-color: #bdbdbd !important;
  border: 1px solid #bdbdbd !important;
  color: #7c7c7c !important;
}
a button:focus{
  outline: none !important;
}
.brand-logo{
  width: 190px !important;
  height: 80px !important;
  margin-left: 30px;
}
.main-menu{
  margin-top: 20px !important;
}
.user-management .card{
  border-radius: 5px !important;
  border: 2px solid #e6e8ed;
}
nav{
  height: 130px !important;
}
.admin-login .modal-content{
  border-radius: 30px !important;
  background-color: white !important;
  box-shadow: 0 4px 35px rgba(0,0,0,.12);
  width: 100% !important;
  margin: auto;
  text-align: center;
}
.admin-login .modal-content .fa-pencil-alt{
  text-decoration: underline !important;
}
.menu-light a{
  color: white !important;
}
.menu-light a:hover, .menu-light .active a{
  background-color: #f7941d !important;
  color: white !important;
}
.menu-light ul{
  background-color: transparent !important;
}
.dash-card-inner{
  border-radius: 5px !important;
  box-shadow: 0 4px 35px rgba(0,0,0,.12) !important;
  border: 2px solid #e6e8ed;
  background-color: white !important;
}
.porto-card{
  width: 172px !important;
  height: 123px !important;
  border-radius: 10px !important;
  box-shadow: 0 4px 35px rgba(0,0,0,.12);
}
.bck_green a button{
  background-color: #65c014 !important;
  border: 1px solid #65c014 !important;
}
.bck_green a button:hover{
  background-color: black !important;
  border: 1px solid black !important;
}
.bck_red a button{
  background-color: #e60000 !important;
  border: 1px solid #e60000 !important;
}
.bck_red a button:hover{
  background-color: black !important;
  border: 1px solid black !important;
}
.dash-card-inner i, .donar-box i{
  font-size: 24px !important;
}
.white_line{
  border: 1px solid white;
}
.white_bck{
  background-color: white !important;
}
.admin-profile input{
  border-radius: 0px !important;
  background-color: #f9f9fa;
}
.admin-profile .dash-card-inner .camera-icon i{
  position: absolute;
  left: 80px;
  bottom: 15px;
  color: white !important;
  background-color: #ce1126 !important;
  font-size: 14px !important;
  cursor: pointer;
}
.noti{
  border-radius: 10px !important;
  border: none !important;
  box-shadow: 0 4px 35px rgba(0,0,0,.12) !important;
}
.header-navbar .navbar-container .dropdown-menu-media .media-list .media{
  border: none !important;
}
.noti th{
  display: none !important;
}
.user-management a{
  color: #f7941d !important;
}
.user-management .page-item.active .page-link {
  color: #fff !important;
  background-color: #f7941d !important;
}
.page-item.active .page-link{
  border-color: #f7941d !important;
}
.user-management .previous a, .user-management .next a{
  color: #ce1126 !important;
}
.user-management .page-item.disabled .page-link{
  background-color: #f7f7f7 !important;
  border: none !important;
}
.user-management .table thead th{
  color: #333333 !important;
}
.grey_bck{
  background-color: #e6e6e6 !important;
  color: #423b39 !important;
  font-size: 16px !important;
}
.user-subs .pink_bck{
  border-radius: 5px !important;
}
.donar-box{
  background-color: #f8f9fa !important;
  border: 3px solid white !important;
  box-shadow: 0 4px 35px rgba(0,0,0,.12) !important;
}
.block{
  font-size: 75px !important;
}
.user-management .modal-content a button:hover{
  background-color: #bdbdbd !important;
  border: 1px solid #bdbdbd !important;
  color: #7c7c7c !important;
}
.disable{
  background-color: #ee394c !important;
}
.hospital-profile .dash-card-inner{
  padding-bottom: 60px !important;
}
.user-management .page-item.disabled .page-link {
  background-color: white !important;
  border: 1px solid #ebebeb !important;
  color: grey !important;
}
tr{
  border-radius: 50px !important;
}
.user-pic{
  border: 8px solid #eceaea !important;
  border-radius: 100%;
}
.testi-pic{
  width: 45px !important;
}
.user-details .owl-dots{
  text-align: left !important;
  margin-top: 15px !important;
}
.user-details .owl-dot span{
  background-color: #7d7d7d !important;
}
.user-details .active span{
  background-color: black !important;
  width: 30px !important;
}
.modal-content textarea{
  resize: none !important;
  border: 1px solid #e1e1e1 !important;
  border-radius: 15px !important;
  width: 90% !important;
  height: 180px !important;
  padding: 10px;
}
.service-name input{
  width: 90% !important;
  border: 1px solid #e1e1e1 !important;
  padding: 15px 15px;
  background-color: white !important;
}
.service-edit input:focus, .service-name input:focus{
  outline: none !important;
}
.service-edit select{
  width: 90% !important;
  border: 1px solid #e1e1e1 !important;
  padding: 15px 15px;
  background-color: white !important;
  border-radius: 30px !important;
}
.service-edit option{
  width: 40% !important;
}
.service-edit select:focus{
  outline: none !important;
}
.close-btn{
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: #ffffff !important;
  border-radius: 100% !important;
  border: none !important;
}
.upload-card{
  border: 1px solid #dbdbdb !important;
  border-style: dashed !important;
  background-color: #ebebeb !important;
  text-align: center !important;
  cursor: pointer;
}
.upload-card i{
  font-size: 35px !important;
}
#configuration .site-input, .site-input {
  background: white;
  font-weight: 500;
  box-shadow: 1px 1px 9px #cccccc;
  border: 0;
  border-radius: 100px !important;
  padding: 10px 15px;
  font-size: 15px;
  color: #666;
  width: 50%;
  resize: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 4px!important;
}
#configuration .site-input.right-icon {
  padding: 10px 40px 10px 15px!important;
}
i.right-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 25px;
  cursor: pointer;
}
.rotated-text{
  transform: rotate(-90deg) !important;
  position: absolute;
  margin: auto 0;
  width: 290px;
  top: 0;
  bottom: 0;
  font-size: 18px;
  left: 140px !important;
  color: black;
  font-weight: 600;
  text-align: center;
}
#configuration .site-input:focus {
  outline:0!important;
  box-shadow: 1px 1px 9px #cccccc;
}
#configuration .site-input.left-icon {
  padding: 10px 15px 10px 40px!important;
}
#configuration .site-input.right-icon {
  padding: 10px 40px 10px 15px!important;
}
#configuration .site-input.both-icon {
  padding: 10px 40px 10px 40px!important;
}
.sort-date{
  border-radius: 50px !important;
  border: 1px solid #ebebeb !important;
  padding: 10px;
}
.apply-btn{
  padding: 15px;
}
input[type=date]::-webkit-datetime-edit-text {
  -webkit-appearance: none;
  display: none;
}
input[type=date]::-webkit-datetime-edit-month-field{
  -webkit-appearance: none;
  display: none;
}
input[type=date]::-webkit-datetime-edit-day-field {
  -webkit-appearance: none;
  display: none;
}
input[type=date]::-webkit-datetime-edit-year-field {
  -webkit-appearance: none;
  display: none;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
  opacity: 1;
}
.namber{
  width: 65px !important;
  border-radius: 50px !important;
  border: 1px solid #ebebeb !important;
}
input:focus, button:focus, textarea:focus{
  outline: none !important;
}
.table-striped tbody tr:nth-of-type(odd) {
  background-color: white;
}
.main-menu.menu-light .navigation > li.open > a {
  color: #2c3648;
  background: #f7941d !important;
}
.product input{
  background-color: #dedede !important;
  border: 1px solid #dedede !important;
}
.h-45{
  height: 45px !important;
}
.upload-btn-wrapper{
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.btn-upload{
  border: none !important;
  color: #979797 !important;
  background-color: #e4e4e4;
  height: 125px !important;
  width: 125px !important;
  font-size: 25px;
  border-radius: 0 !important;
  font-weight: bold;
}
.upload-btn-wrapperr input[type=file]{
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.create-product select, .create-product input{
  border-radius: 0 !important;
  border: 1px solid #dfdfdf !important;
  background-color: #f1f3f7 !important;
  height: 35px !important;
}
.user-management td a{
  color: #999999 !important;
}
.rating {
  float:left;
}
.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}
.rating:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:35px !important;
    color:#ddd;
}
.rating:not(:checked) > label:before {
    content: '★ ';
}
.rating > input:checked ~ label {
    color: #f7941d;
}
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: #f7941d;
}
.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #f7941d;
}
.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.btn-2 {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  font-size: 14px;
  cursor: pointer !important;
}
.upload-btn-wrapper-1 input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.product-review a{
  color: black !important;
}
.nav-pills a{
  color: #959494 !important;
  background-color: #d7d7d7 !important;
  border-radius: 0 !important;
  margin-left: 2px;
}
.nav-pills .active{
  background-color: #f7941d !important;
  color: white !important;
}
input:focus, button:focus, textarea:focus, select:focus{
  outline: none !important;
}
.order-img{
  width: 60px;
  height: 60px;
}
.half-line{
  width: 160px;
  margin-left: auto !important;
}
.rider-img{
  border: 3px solid #9d9d9d !important;
  border-radius: 100%;
  height: 85px !important;
  width: 85px !important;
  padding: 2px;
}
.month-dropdown{
  width: 205px;
  height: 45px;
  background-color: #eaeaea !important;
  border: 1px solid #d3d3d3 !important;
}
nav .dropdown-menu a i::before {
  color: black !important;
}

.main-menu.menu-light .navigation > li.open .hover > a {
  background: transparent !important;
}
select{
  appearance: none !important;
  background-image: url('../images/arrow-down.png');
  background-repeat: no-repeat;
  background-position: 95%;
  padding: 5px;
}
select.entry-select{
  width: 80px !important;
  border-radius: 50px;
  background-color: white;
  border: 1px solid #ebebeb !important;
}
/* admin login starts here */
/* ====================================== Media Queries ================================================ */ 
@media screen and (max-width:1200px){
}
@media screen and (max-width:992px){
  .admin-profile .dash-card-inner{
    padding-bottom: 160px !important;
  }  
}
@media screen and (max-width:768px){
  .p-70{
    padding: 40px 15px;
  }
  h1{
    font-size: 35px;
  }
  h2{
    font-size: 25px;
  }
  .admin-profile .dash-card-inner{
    padding-bottom: 80px !important;
  }
  .admin-login{
    height: 100% !important;
  }
  .admin-login-inner{
    background-color: rgba(0,0,0,.75);
    height: 150px !important;
    width: 100vw !important;
  }  
}
@media screen and (max-width:576px){
  .admin-profile .dash-card-inner{
    padding-bottom: 40px !important;
  }
  input::placeholder{
    font-size: 12px !important;
  }
  .admin-login .p_md{
    font-size: 13px !important;
  }
  a{
    font-size: 14px !important;
  }
}